
*{
    margin: 0;
}
.padding-top{
    padding-top: 100px;
}
.wrapper{
    
    margin: auto;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 50px slategrey;
    border-radius: 2rem;
}
.top{
    text-align: center;
    padding-top: 20px;
}
.top img{
    height: 100px;
    padding-bottom: 20px;
}
.word-high-light{
    color: blue;
}
.top h1{
    padding-bottom: 20px;
}
.btn{
    text-align: center;
    padding-bottom: 10px;
}
.btn button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}
.btn #search{
    border-radius: 5px;
    border: 1px solid black;
}
.display-padding{
    padding-top: 5px;
}
.display{
    border-radius: 8px;
    border: 3px solid gainsboro;
    background-color: whitesmoke;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.display .country{
    font-weight: bold;
}
.display .percentage{
    font-weight: bold;
    color: orangered;
}
